<p>Title: {{ question.title }}</p>
<p>Text: {{ question.text }}</p>
<p>author: {{ question.author }}</p>
<ul>
{% for answer in answers %}
    <li>{{ answer.author }}: {{ answer }}</li>
{% endfor %}
</ul>

<form action="/answer/" method="post">
    {% csrf_token %}
    <fieldset>
        {% for field in form %}
            <div>
                <label>{{ field.label }}</label>
                <div>{{ field }}</div>
            </div>
        {% endfor %}
    </fieldset>
    <button type="submit">Сохранить</button>
</form>